.hero {
	background-color: var(--background-start);
	max-height: 740px;
	width: 100%;
	color: #fff;
	position: relative;
	z-index: 99999;
}

.hero .innerText {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 15rem;
	z-index: 1;
	opacity: 0.1;
	color: #cc964459;
}

.heroTitle {
	/* width: 60px; */
	transform: rotate(-90deg);
	padding-top: 40px;
	letter-spacing: 10px;
	font-size: 15px;
	font-weight: 300;
}

.heroDetails {
	display: flex;
	align-items: center;
	justify-content: center;
}

.heroContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heroText {
	display: block;
	align-items: center;
	margin-right: 80px;
	margin-top: 50px;
	animation: fade-in 1s ease-in;
}

.heroImg {
	width: 60%;
}

.heroLink {
	cursor: pointer !important;
	color: #735f32;
	font-weight: 700;
	font-size: 1.1rem;
	/* animation: colorTransition 5s infinite linear; */
}

.heroLink:hover {
	background-color: #ab852c;
	transition: background-color 2s ease-out;
	transform: scale(1.2);
	cursor: pointer !important;
}

.heroDot {
	font-size: 10px;
}

.heroBlog {
	margin-bottom: 10px;
	width: 250px;
	font-size: 0.8rem;
}

/* .area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
} */

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: #cc964459;
	opacity: 0.1;
	animation: animate 25s linear infinite;
	bottom: -150px;
	z-index: -99;
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

/* .circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
} */

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}

@keyframes colorTransition {
	0% {
		color: #ab852c;
	}
	50% {
		color: #94862f;
	}
	100% {
		transform: scale(1.5);
		color: #dcb048;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media (max-width: 960px) {
	.hero {
		max-height: 440px;
	}
}

@media (max-width: 720px) {
	.heroImg {
		display: none;
	}
}
